@font-face {
    font-family: 'SegoeWP';
    src: url('../fonts/SegoeWP.eot');
    src: url('..fonts/SegoeWP.eot?#iefix') format('embedded-opentype'),
        url('..fonts/SegoeWP.woff2') format('woff2'),
        url('..fonts/SegoeWP.woff') format('woff'),
        url('..fonts/SegoeWP.ttf') format('truetype'),
        url('..fonts/SegoeWP.svg#SegoeWP') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LucidaSansUnicode';
    src: url('../fonts/LucidaSansUnicode.eot');
    src: url('../fonts/LucidaSansUnicode.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LucidaSansUnicode.woff2') format('woff2'),
        url('../fonts/LucidaSansUnicode.woff') format('woff'),
        url('../fonts/LucidaSansUnicode.ttf') format('truetype'),
        url('../fonts/LucidaSansUnicode.svg#LucidaSansUnicode') format('svg');
    font-weight: normal;
    font-style: normal;
}